<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }

        :root {
            --button-height: 32px;
            --font-size: 14px;
            --button-bg: white;
            --button-active-bg: #eee;
            --border-radius: 4px;
            --color: #333;
            --border-color: #999;
            --border-color-hover: #666;
        }

        #app {
            margin: 20px;
        }

        body {
            font-size: var(--font-size);
        }

        .row {
            background-color: #f4f4f4;
        }

        .col-demo {
            height: 80px;
            border: 1px solid red;
        }

        .v-header, .v-footer {
            background-color: #b3c0d1;
        }

        .v-aside {
            background-color: #d3dce6;
        }

        .v-content {
            background-color: #e9eef3;
            height: 240px;
        }

        .popover-class {
            color: #fff;
            background-color: #09f !important;
        }

        .popover-class::after {
            border-top-color: #09f !important;
        }
    </style>
</head>
<body>
    <div id="app" style="padding-left: 300px">
        <br />
        <br />
        <br />
        <v-popover v-model="popover" placement="top-start" popper-class="popover-class">
            <template slot="content" slot-scope="{ close }">
                <div>
                    <p>点击设置触发事件</p>
                    <v-button icon="setting" @click="close">关闭</v-button>
                </div>
            </template>
            <v-button>按钮</v-button>
        </v-popover>
        <v-popover v-model="popover2" placement="top-start" popper-class="popover-class">
            <template slot="content">
                <div>
                    <p>点击设置触发事件</p>
                    <v-button icon="setting" @click="popover2 = false">关闭</v-button>
                </div>
            </template>
            <v-button>按钮</v-button>
        </v-popover>
        <br />
        <br />
        <br />
        <v-popover placement="top-start">
            <template slot="content">
                <p>aaaaaaaaaaasdasdasdsfsdfdsfsdfsdfsdf</p>
            </template>
            <v-button>按钮</v-button>
        </v-popover>
        <v-popover>
            <template slot="content">
                <p>索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法</p>
            </template>
            <v-button icon="setting">设置</v-button>
        </v-popover>
        <v-popover placement="top-end">
            <template slot="content">
                <p>水费是范德萨的士大夫</p>
            </template>
            <v-button icon="setting">设置</v-button>
        </v-popover>
        <br />
        <br />
        <br />
        <br />
        <v-popover placement="bottom-start">
            <template slot="content">
                <p>aaaa</p>
            </template>
            <v-button>按钮</v-button>
        </v-popover>
        <v-popover placement="bottom">
            <template slot="content">
                <p>索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法索fsd发斯蒂芬法</p>
            </template>
            <v-button>舒服</v-button>
        </v-popover>
        <v-popover placement="bottom-end">
            <template slot="content">
                <p>设是</p>
            </template>
            <v-button>设是水电费水电费水电费水电费</v-button>
        </v-popover>
        <br />
        <br />
        <br />
        <br />
        <div>
            <v-popover placement="left-start">
                <template slot="content">
                    <p>asd</p>
                </template>
                <v-button>按钮</v-button>
            </v-popover>
        </div>
        <br />
        <div>
            <v-popover placement="left">
                <template slot="content">
                    <p>索尼奥术大师阿双方是否改善电饭锅电饭锅是的发生大事大法索尼奥术大师阿双方是否改善电饭锅电饭锅是的发生大事大法索尼奥术大师阿双方是锅电饭锅是的发生大事大法</p>
                </template>
                <v-button icon="setting">设置</v-button>
            </v-popover>
        </div>
        <br />
        <div>
            <v-popover placement="left-end">
                <template slot="content">
                    <p>水电是电饭费</p>
                </template>
                <v-button icon="setting">设置</v-button>
            </v-popover>
        </div>
        <br />
        <br />
        <br />
        <div>
            <v-popover placement="right-start">
                <template slot="content">
                    <p>水电费</p>
                </template>
                <v-button>按钮</v-button>
            </v-popover>
        </div>
        <br />
        <div>
            <v-popover placement="right">
                <template slot="content">
                    <p>术大师阿双方是否改善电饭锅电饭锅是的发生大事大法术大师阿双方是否改善电饭锅电饭锅是的发生大事大法</p>
                </template>
                <v-button icon="setting">术大生大事大法</v-button>
            </v-popover>
        </div>
        <br />
        <div>
            <v-popover placement="right-end">
                <template slot="content">
                    <p>水电是电饭费</p>
                </template>
                <v-button icon="setting">设置</v-button>
            </v-popover>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <v-tabs v-model="tabsActive" @tab-click="handleTabClick">
            <v-tab-head>
                <v-tab-nav name="first">用户</v-tab-nav>
                <v-tab-nav name="second">配置管理</v-tab-nav>
                <v-tab-nav name="third">角管理</v-tab-nav>
                <v-tab-nav name="fourth">定时任务补偿</v-tab-nav>
                <template v-slot:control>
                    <v-button icon="setting">设置</v-button>
                </template>
            </v-tab-head>
            <v-tab-body>
                <v-tab-pane name="first">用户管理用户管理</v-tab-pane>
                <v-tab-pane name="second">配置管理配置管理</v-tab-pane>
                <v-tab-pane name="third">角色管理角色管理</v-tab-pane>
                <v-tab-pane name="fourth">定时任务补偿定时任务补偿</v-tab-pane>
            </v-tab-body>
        </v-tabs>
        <br />
        <br />
        <br />
<!--        <toast-test></toast-test>-->
        <v-button @click="createTopToast">toast-top</v-button>
        <v-button @click="createMiddleToast">toast-middel</v-button>
        <v-button @click="createBottomToast">toast-bottom</v-button>
        <br />
        <br />
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-content>content</v-content>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-content>content</v-content>
            <v-footer>footer</v-footer>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-content>content</v-content>
        </v-layout>
        <v-layout>
            <v-content>content</v-content>
            <v-aside width="200px">aside</v-aside>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-layout>
                <v-aside width="200px">aside</v-aside>
                <v-content>content</v-content>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-layout>
                <v-aside width="200px">aside</v-aside>
                <v-layout>
                    <v-content>content</v-content>
                    <v-footer>footer</v-footer>
                </v-layout>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-layout>
                <v-header>header</v-header>
                <v-content>content</v-content>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-layout>
                <v-header>header</v-header>
                <v-content>content</v-content>
                <v-footer>footer</v-footer>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <div class="row">
            <v-row gutter="20">
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <v-row align="center">
                <v-col :span="24" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <v-row align="right">
                <v-col :span="12":narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="12" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />

<!--        <div style="border: 1px solid #000;">-->
<!--            <v-row gutter="20">-->
<!--                <v-col>1111</v-col>-->
<!--                <v-col>1111</v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col span="12">2222</v-col>-->
<!--                <v-col span="12">2222</v-col>-->
<!--            </v-row>-->
<!--            <v-row gutter="20">-->
<!--                <v-col :span="4" :offset="4">3333</v-col>-->
<!--                <v-col :span="8">3333</v-col>-->
<!--                <v-col :span="8">333</v-col>-->
<!--            </v-row>-->
<!--            <v-row gutter="30">-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col :span="2"></v-col>-->
<!--                <v-col :span="22"></v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col offset="4" :span="4"></v-col>-->
<!--                <v-col :span="16"></v-col>-->
<!--            </v-row>-->
<!--        </div>-->
<!--        <div style="background: gainsboro">-->
<!--            <v-row>-->
<!--                <v-col :span="10">-->
<!--                    <v-row gutter="30">-->
<!--                        <v-col>111</v-col>-->
<!--                        <v-col>222</v-col>-->
<!--                    </v-row>-->
<!--                </v-col>-->
<!--                <v-col :span="14">-->
<!--                    <v-row>-->
<!--                        <v-col :span="2">333</v-col>-->
<!--                        <v-col :span="18">444</v-col>-->
<!--                        <v-col :span="4">555</v-col>-->
<!--                    </v-row>-->
<!--                </v-col>-->
<!--            </v-row>-->
<!--        </div>-->
        <br />
        <br />
        <br />
        <v-input v-model="msg"></v-input>
        <v-input :value="msg" disabled></v-input>
        <v-input :value="msg" readonly></v-input>
        <v-input v-model="msg" error="出错了"></v-input>
        <br />
        <br />
        <br />
        <v-button>按钮</v-button>
        <v-button>按钮2</v-button>
        <v-button icon="setting">设置</v-button>
        <v-button icon="download" icon-position="left">下载</v-button>
        <v-button icon="upload" icon-position="right">上传</v-button>
        <v-button loading icon-position="right">上传中...</v-button>
        <v-button loading>加载中...</v-button>
        <div>
            <v-button-group>
                <div>
                    <v-button icon="download" icon-position="left">下载</v-button>
                </div>
                <v-button icon="download" icon-position="left">下载</v-button>
                <v-button icon="upload" icon-position="right">上传</v-button>
            </v-button-group>
        </div>
        <div>
            <v-button-group>
                <v-button icon="download" icon-position="left">下载</v-button>
                <v-button icon="upload" icon-position="right">上传</v-button>
                <v-button icon="setting" icon-position="right">设置</v-button>
            </v-button-group>
        </div>
    </div>
    <script src="./src/app.js"></script>
    <script src="//at.alicdn.com/t/font_1344838_er035n9m55.js"></script>
</body>
</html>
