<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }

        :root {
            --button-height: 32px;
            --font-size: 14px;
            --button-bg: white;
            --button-active-bg: #eee;
            --border-radius: 4px;
            --color: #333;
            --border-color: #999;
            --border-color-hover: #666;
        }

        #app {
            margin: 20px;
        }

        body {
            font-size: var(--font-size);
        }

        .row {
            background-color: #f4f4f4;
        }

        .col-demo {
            height: 80px;
            border: 1px solid red;
        }

        .v-header, .v-footer {
            background-color: #b3c0d1;
        }

        .v-aside {
            background-color: #d3dce6;
        }

        .v-content {
            background-color: #e9eef3;
            height: 240px;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-layout>
            <v-header>header</v-header>
            <v-content>content</v-content>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-content>content</v-content>
            <v-footer>footer</v-footer>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-content>content</v-content>
        </v-layout>
        <v-layout>
            <v-content>content</v-content>
            <v-aside width="200px">aside</v-aside>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-layout>
                <v-aside width="200px">aside</v-aside>
                <v-content>content</v-content>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-header>header</v-header>
            <v-layout>
                <v-aside width="200px">aside</v-aside>
                <v-layout>
                    <v-content>content</v-content>
                    <v-footer>footer</v-footer>
                </v-layout>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-layout>
                <v-header>header</v-header>
                <v-content>content</v-content>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <v-layout>
            <v-aside width="200px">aside</v-aside>
            <v-layout>
                <v-header>header</v-header>
                <v-content>content</v-content>
                <v-footer>footer</v-footer>
            </v-layout>
        </v-layout>
        <br />
        <br />
        <div class="row">
            <v-row gutter="20">
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 20 }" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :ipad="{ span: 4 }" :narrow-pc="{ span: 8 }" :wide-pc="{ span: 8, offset: 4 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <v-row align="center">
                <v-col :span="24" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="24" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <v-row align="right">
                <v-col :span="12":narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
                <v-col :span="12" :narrow-pc="{ span: 16 }" :wide-pc="{ span: 12 }">
                    <div class="col-demo"></div>
                </v-col>
            </v-row>
        </div>
        <br />
        <br />
        <br />

<!--        <div style="border: 1px solid #000;">-->
<!--            <v-row gutter="20">-->
<!--                <v-col>1111</v-col>-->
<!--                <v-col>1111</v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col span="12">2222</v-col>-->
<!--                <v-col span="12">2222</v-col>-->
<!--            </v-row>-->
<!--            <v-row gutter="20">-->
<!--                <v-col :span="4" :offset="4">3333</v-col>-->
<!--                <v-col :span="8">3333</v-col>-->
<!--                <v-col :span="8">333</v-col>-->
<!--            </v-row>-->
<!--            <v-row gutter="30">-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--                <v-col></v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col :span="2"></v-col>-->
<!--                <v-col :span="22"></v-col>-->
<!--            </v-row>-->
<!--            <v-row>-->
<!--                <v-col offset="4" :span="4"></v-col>-->
<!--                <v-col :span="16"></v-col>-->
<!--            </v-row>-->
<!--        </div>-->
<!--        <div style="background: gainsboro">-->
<!--            <v-row>-->
<!--                <v-col :span="10">-->
<!--                    <v-row gutter="30">-->
<!--                        <v-col>111</v-col>-->
<!--                        <v-col>222</v-col>-->
<!--                    </v-row>-->
<!--                </v-col>-->
<!--                <v-col :span="14">-->
<!--                    <v-row>-->
<!--                        <v-col :span="2">333</v-col>-->
<!--                        <v-col :span="18">444</v-col>-->
<!--                        <v-col :span="4">555</v-col>-->
<!--                    </v-row>-->
<!--                </v-col>-->
<!--            </v-row>-->
<!--        </div>-->
        <br />
        <br />
        <br />
        <v-input v-model="msg"></v-input>
        <v-input :value="msg" disabled></v-input>
        <v-input :value="msg" readonly></v-input>
        <v-input v-model="msg" error="出错了"></v-input>
        <br />
        <br />
        <br />
        <v-button>按钮</v-button>
        <v-button>按钮2</v-button>
        <v-button icon="setting">设置</v-button>
        <v-button icon="download" icon-position="left">下载</v-button>
        <v-button icon="upload" icon-position="right">上传</v-button>
        <v-button loading icon-position="right">上传中...</v-button>
        <v-button loading>加载中...</v-button>
        <div>
            <v-button-group>
                <div>
                    <v-button icon="download" icon-position="left">下载</v-button>
                </div>
                <v-button icon="download" icon-position="left">下载</v-button>
                <v-button icon="upload" icon-position="right">上传</v-button>
            </v-button-group>
        </div>
        <div>
            <v-button-group>
                <v-button icon="download" icon-position="left">下载</v-button>
                <v-button icon="upload" icon-position="right">上传</v-button>
                <v-button icon="setting" icon-position="right">设置</v-button>
            </v-button-group>
        </div>
    </div>
    <script src="./src/app.js"></script>
    <script src="//at.alicdn.com/t/font_1344838_er035n9m55.js"></script>
</body>
</html>
